body {
	padding: 15px;
}
div.messages
{
	height: 70pt;
}
div.messages div
{
	width: 100%;
}
.titulo
{
	margin-top: 25pt;
}
.form
{
	padding: 15pt 25pt;
	background-color: #f5f5f5;
}
.form-login
{
	max-width: 250pt;
	margin: auto;
}
.form-cadastro, .form-reenvio-senha
{
	max-width: 450pt;
	margin: 15pt auto 0 auto;
}
