body {
	padding: 15px;
}
div.messages-static-container
{
	height: 70pt;
}
div.messages-static-container div
{
	width: 100%;
}
div#content
{
	padding-top: 25pt;
}
.titulo
{
	margin-bottom: 20pt;
}
.form
{
	padding: 15pt 25pt;
	background-color: #f5f5f5;
}
.form-login
{
	max-width: 250pt;
	margin: auto;
}
.form-cadastro, .form-reenvio-senha, .form-solicit-docto
{
	max-width: 450pt;
	margin: 15pt auto 0 auto;
}
input.data
{
	width: 200px;
}
input[type=number]::-webkit-outer-spin-button,	/* Desabilita setas */
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none; /* display: none; <- Crashes Chrome on hover */
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
	-moz-appearance:textfield; /* Desabilita setas (Firefox) */
}
.status
{
	text-align: center; 
	font-weight: bold;
}
.solicitacoes-passaporte, .solicitacoes-visto
{
	background-color: #F8F9FA;
	padding: 20pt;
	margin-bottom: 20pt;
}
.solicitacoes-passaporte h2, .solicitacoes-visto h2
{
	margin-bottom: 20pt;
}

.form-login-admin
{
	max-width: 250pt;
	margin: 15pt auto 0 auto;
}
.form-login-admin .invalid-feedback
{
	color: white;
}